In [5]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 99)

In [2]:
!pwd

/Users/nick/Documents/ML4VA

In [2]:
salaries = pd.read_csv("teachers.csv")
dems = pd.read_csv("demographic.csv")
scores = pd.read_csv("school-by-subject-2019.csv")

In [3]:
salaries

                              Div Name  Salary2017  Salary2018
0       Accomack County Public Schools       47512       47296
1      Albemarle County Public Schools       55707       58796
2      Allegheny County Public Schools       48802       47800
3         Amelia County Public Schools       50012       48872
4        Amherst County Public Schools       45675       44880
..                                 ...         ...         ...
127       Poquoson City Public Schools       51352       51339
128       Manassas City Public Schools       84390       65211
129  Manassas Park City Public Schools       59208       59171
130     Colonial Beach Public Schools        50502       51764
131         West Point Public Schools        41285       36696

[132 rows x 3 columns]

In [4]:
dems

,GeoId,Div Name,LEAID,Year,Iteration,Population,Median age,Percent White,Percent Black,Percent Asian,Percent Latino,High School Graduate,Some College,Associates,Bachelors,Graduate,Median Income
0,9700000US5100060,Accomack County Public Schools,5100060,2013-2017,1,32840,46.0,68.4,28.4,0.7,8.8,39.0,17.3,6.3,11.4,8.2,42260
1,9700000US5100090,Albemarle County Public Schools,5100090,2013-2017,1,105105,38.6,81.5,9.6,5.0,5.7,17.7,16.0,5.4,26.7,25.6,72265
2,9700000US5100120,Alexandria City Public Schools,5100120,2013-2017,1,154710,36.4,62.3,22.1,6.2,16.7,11.9,13.3,4.4,29.2,32.6,93370
3,9700000US5100152,Alleghany County Public Schools,5100152,2013-2017,1,15489,46.9,92.5,5.5,0.1,1.4,39.4,21.1,10.2,10.5,5.3,46020
4,9700000US5100180,Amelia County Public Schools,5100180,2013-2017,1,12802,46.5,73.5,23.7,0.1,1.1,35.7,23.9,6.7,10.2,4.3,58535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,9700000US5104020,Williamsburg City Public Schools,5104020,2013-2017,1,14817,24.5,73.9,14.6,5.8,7.7,19.5,14.3,5.2,27.8,27.4,54606
135,9700000US5104050,Winchester City Public Schools,5104050,2013-2017,1,27516,37.6,80.2,9.9,2.1,16.9,27.1,16.6,7.3,18.5,14.0,49330
136,9700000US5104080,Wise County Public Schools,5104080,2013-2017,1,39539,40.3,92.5,5.4,0.5,1.2,32.2,21.8,7.6,8.6,5.3,38255
137,9700000US5104110,Wythe County Public Schools,5104110,2013-2017,1,29048,44.4,94.8,3.2,0.7,1.1,38.4,17.8,9.0,11.2,7.0,46119
138,9700000US5104150,York County Public Schools,5104150,2013-2017,1,67196,39.6,76.3,12.8,5.3,6.0,19.0,20.8,10.6,23.2,20.4,86781

In [24]:
scores

,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Low Grade,High Grade,Subject,Subgroup,2016-2017 Pass Rate,2017-2018 Pass Rate,2018-2019 Pass Rate
0,Sch,1,Accomack County Public Schools,701,Accawmacke Elementary,Elem,PK,5,English: Reading,All Students,70,66,64
1,Sch,1,Accomack County Public Schools,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,All Students,85,83,84
2,Sch,1,Accomack County Public Schools,701,Accawmacke Elementary,Elem,PK,5,Mathematics,All Students,76,61,79
3,Sch,1,Accomack County Public Schools,701,Accawmacke Elementary,Elem,PK,5,Science,All Students,72,60,79
4,Sch,1,Accomack County Public Schools,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Asian,100,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76112,Sch,98,York County Public Schools,60,Yorktown Middle,Middle,6,8,English: Reading,White,87,92,85
76113,Sch,98,York County Public Schools,60,Yorktown Middle,Middle,6,8,English: Writing,White,76,83,76
76114,Sch,98,York County Public Schools,60,Yorktown Middle,Middle,6,8,History and Social Sciences,White,88,93,91
76115,Sch,98,York County Public Schools,60,Yorktown Middle,Middle,6,8,Mathematics,White,91,92,92
76116,Sch,98,York County Public Schools,60,Yorktown Middle,Middle,6,8,Science,White,86,87,85

In [31]:
scores["Div Name"] = scores["Div Name"].apply(lambda x: x + 'Public Schools')

In [34]:
salaries = salaries.set_index(salaries["Div Name"])
salaries.drop("Div Name", axis='columns', inplace=True)

In [39]:
dems = dems.set_index(dems["Div Name"])
dems.drop(["Div Name", "GeoId", "LEAID", "Year", "Iteration"], axis='columns', inplace=True)

In [37]:
scores = scores.join(salaries, how='left', on='Div Name')

In [42]:
scores = scores.join(dems, how='left', on='Div Name')

In [43]:
scores.dropna().shape

(67871, 27)

In [56]:
pd.set_option("display.max_columns", 30)
scores.loc[scores.isna().apply(any, axis='columns'), :]

,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Low Grade,High Grade,Subject,Subgroup,2016-2017 Pass Rate,2017-2018 Pass Rate,2018-2019 Pass Rate,Salary2017,Salary2018,Population,Median age,Percent White,Percent Black,Percent Asian,Percent Latino,High School Graduate,Some College,Associates,Bachelors,Graduate,Median Income
152,Sch,1,Accomack County Public Schools,80,Chincoteague Elementary,Elem,PK,5,English: Reading,English Learners,<,NaN,NaN,47512.0,47296.0,32840.0,46.0,68.4,28.4,0.7,8.8,39.0,17.3,6.3,11.4,8.2,42260.0
153,Sch,1,Accomack County Public Schools,80,Chincoteague Elementary,Elem,PK,5,Mathematics,English Learners,<,NaN,NaN,47512.0,47296.0,32840.0,46.0,68.4,28.4,0.7,8.8,39.0,17.3,6.3,11.4,8.2,42260.0
154,Sch,1,Accomack County Public Schools,80,Chincoteague Elementary,Elem,PK,5,Science,English Learners,<,NaN,NaN,47512.0,47296.0,32840.0,46.0,68.4,28.4,0.7,8.8,39.0,17.3,6.3,11.4,8.2,42260.0
159,Sch,1,Accomack County Public Schools,80,Chincoteague Elementary,Elem,PK,5,English: Reading,Hispanic,NaN,<,<,47512.0,47296.0,32840.0,46.0,68.4,28.4,0.7,8.8,39.0,17.3,6.3,11.4,8.2,42260.0
160,Sch,1,Accomack County Public Schools,80,Chincoteague Elementary,Elem,PK,5,History and Social Sciences,Hispanic,NaN,NaN,<,47512.0,47296.0,32840.0,46.0,68.4,28.4,0.7,8.8,39.0,17.3,6.3,11.4,8.2,42260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76007,Sch,98,York County Public Schools,335,York River Academy,High,9,12,English: Reading,Hispanic,NaN,NaN,<,52505.0,53115.0,67196.0,39.6,76.3,12.8,5.3,6.0,19.0,20.8,10.6,23.2,20.4,86781.0
76008,Sch,98,York County Public Schools,335,York River Academy,High,9,12,English: Writing,Hispanic,NaN,NaN,<,52505.0,53115.0,67196.0,39.6,76.3,12.8,5.3,6.0,19.0,20.8,10.6,23.2,20.4,86781.0
76009,Sch,98,York County Public Schools,335,York River Academy,High,9,12,History and Social Sciences,Hispanic,<,<,NaN,52505.0,53115.0,67196.0,39.6,76.3,12.8,5.3,6.0,19.0,20.8,10.6,23.2,20.4,86781.0
76010,Sch,98,York County Public Schools,335,York River Academy,High,9,12,Mathematics,Hispanic,100,<,NaN,52505.0,53115.0,67196.0,39.6,76.3,12.8,5.3,6.0,19.0,20.8,10.6,23.2,20.4,86781.0
76011,Sch,98,York County Public Schools,335,York River Academy,High,9,12,Science,Hispanic,100,<,NaN,52505.0,53115.0,67196.0,39.6,76.3,12.8,5.3,6.0,19.0,20.8,10.6,23.2,20.4,86781.0

In [58]:
scores["Subgroup"].unique()

array(['All Students', 'Asian', 'Black', 'Economically Disadvantaged',
       'English Learners', 'Female', 'Hispanic', 'Male',
       'Students with Disabilities', 'White'], dtype=object)

In [61]:
scores.to_csv("ScoresSalsDems.csv")